*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto-fino";
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: "Roboto-medio";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Louis";
    src: url(../fonts/LouisGeorgeCafe/Louis-George-Cafe-Bold.ttf);
}
@font-face {
    font-family: "Roboto-bold";
    src: url(../fonts/Roboto/Roboto-BoldCondensed.ttf);
}
@font-face {
    font-family: "Roboto-regular";
    src: url(../fonts/Roboto/Roboto-Condensed.ttf);
}

body{
    background-image: url("../img/fundo.jpg");
    background-attachment: fixed;
    height: 1300px;
}

/* HEADER */

header{
    background-color: #73A8A8;
    height: 149px;
    display: flex;
    justify-content: space-between;
}

.redes{
    width: 226px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-right: 34px;
}

.redes a img{
    width: 50px;
}

.redes a img:hover{
    border-bottom: 5px solid #518383;
    border-radius: 2px;
    padding-bottom: 3px;
}

.redes div{
    margin: auto 0;
}

.logo{
    width: 10%;
    text-align: center;
}

.logo h1{
    position: absolute;
    width: 113px;
    height: 118px;
    top: 14px;
    left: 31px;
}
.logo a{
    
    font-family: "Roboto-fino";
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #424242;
    text-decoration: none;
}

/* FIM READER */
/* NAV */

nav{
    width: 55%;
    height: 134px;
    background-color: #C4C4C4;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
}

.icones{
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin-left: 4%;
}

.icones div{
    margin: auto 0;
}

.icones img{
    width: 57px;
}

.icones hr{
    height: 60%;
    margin: auto 0;
    border-color: rgb(61, 61, 61);
}

nav .pesquisa{
    height: 25px;
    width: 200px;
    position: relative;
    top: 100px;
    right: 15px;
}
nav .pesquisa input{
    height: 100%;
    width: 100%;
    padding-left: 6px;
}

/* FIM NAV */

/* MAIN GERAL */

.main{
    width: 79.3%;
    background-color: white;
    margin: 0 auto;
}

.main .titulo{
    background-color: #639C9C;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

.main .titulo .texto h3{
    font-family: "Roboto-fino";
    font-style: normal;
    font-weight: 100;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    margin: 30px 10px 30px 0;
}

/* MAIN HOME */

#projetos{
    height: 1500px;
    position: absolute;
    margin: 0 10.35%;
}

#home{
    height: 800px;
    display: none;
}

#home .titulo .foto{
    background-image: url(../img/sherlock-holmes-detetive.jpg);
    background-position: center;
    background-size: 150px;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    position: relative;
    top: 55px;
    left: 20px;
}

#home .texto-principal{
    width: 80%;
    margin: 80px auto;
}

#home .texto-principal h1{
    text-align: center;
    font-family: "Roboto-medio";
    margin: 30px 0;
}

#home .texto p{
    font-family: "Roboto-medio";
    text-align: center;
}

#home .texto-secundario{
    width: 100%;
    height: 200px;
    margin: 80px 0;
    display: flex;
    justify-content: space-around;
}

#home .texto-secundario .texto-1{
    width: 60%;
    padding: 0 50px;
}

#home .texto-secundario .texto-2{
    width: 40%;
    padding: 0 50px;
}

#home .texto-secundario p{
    text-align: center;
}

#home .texto-secundario h3{
    text-align: center;
    margin: 10px 0;
    font-family: "Roboto-medio";
}

/* MAIN PROJETOS */

#projetos .artigos{
    width: 40%;
    background-color: #518383;
    position: absolute;
    border-radius: 20px;
}

#projetos .artigos h2{
    color: white;
    font-family: "Roboto-bold";
    margin: 10px;
    font-size: 2em;
}
#projetos .artigos .texto{
    color: white;
    font-size: 1.5em;
    font-family: "Roboto-regular";
    text-align: center;
}
#projetos .artigos button{
    float: right;
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 0px;
    margin: 0 20px;
}
#projetos .artigos a{
    color: #518383;
    font-family: "Roboto-regular";
    font-size: 1.5em;
    text-decoration: none;
}

/* Artigo 1 */

#projetos .artigo1{
    top: 175px;
    left: 65px;
    height: 575px;
}

#projetos .artigo1 img{
    width: 100%;
    border-radius: 10px;
}
#projetos .artigo1 .texto{
    width: 90%;
    margin: 40px auto;
}


/* Artigo 2 */

#projetos .artigo2{
    right: 65px;
    margin: 29% 0;
    height: 670px;
}
#projetos .artigo2 .cardapios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}
#projetos .artigo2 img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 100px;
}
#projetos .artigo2 .texto{
    width: 50%;
}

/* Artigo 3 */

#projetos .artigo3{
    left: 65px;
    bottom: 56px;
    height: 575px;
}
#projetos .artigo3 .img{
    width: 50%;
    margin: 0 auto;
}
#projetos .artigo3 img{
    width: 100%;
}
#projetos .artigo3 .texto{
    width: 80%;
    margin: 40px auto;
}
